{% set pageController = 'render' %}
{% extends 'onsPage.html.twig' %}

{% block pageId 'detail' %}

{% block body %}
    {% set store = 'savedTable' %}

    {% set id = 1 %}
<twig:dexie
            refreshEvent="detail.postpush"
            :store="store"
            :key="id"
            :caller="_self">

        <twig:block name="title">
            title for {{ data.id }}
        </twig:block>
        <twig:block name="twig_template" id="xx">
            <h1>{{ data.name }}</h1>
            <img src="{{ 'img/%d.png'|format(data.id) }}"/>

            {% set detail = data.details %}

            Height: {{ detail.height }}
            <h3>Abilties</h3>
            <ol>
                {% for ability in detail.abilities %}
                    <li>{{ ability.ability.name }}
                        {{ ability.is_hidden ? 'hidden' }}
                        slot: {{ ability.slot }}
                    </li>
                {% endfor %}

            </ol>
            <h3>Moves</h3>
            <ol>
                {% for move in detail.moves %}
                    <li>{{ move.move.name }}
                        <ul>
                            {% for vgd in move.version_group_details  %}
                                <li>
                                    {{ vgd.level_learned_at }}
                                    {{ vgd.move_learn_method.name }}
                                </li>

                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}

            </ol>

            {{ data.details|json_encode }}
            <!-- xx --><!-- do not remove! -->
        </twig:block>

        <twig:block name="twig_template2">
            there are {{ rows|length }} rows
        </twig:block>

        <twig:block name="twig_template3" id="hack_to_get_raw_data">
            there are {{ rows|length }} rows in the dexie database
            {% for row in rows %}
                {% set checked = row.owned ? 'checked' : '' %}
                <ons-list-item>
                    <a
                    {% for var, val in globals.stimulusSettings %}
                        {% if val starts with '@' %}
                            {% set val = row[val|replace({'@':''})] %}
                        {% endif %}
                        {{ var }}="{{ val }}"
                    {% endfor %}
                    >
                    {{ row.name }} {{ row.id }}
                    </a>

                    <ons-switch
                            data-controller="ownswitch"
                            class="right"
                            data-ownswitch-owned-value="{{ row.owned }}"
                            data-action="click->app#add"
                            data-app-id-param="{{ row.id }}">
                    </ons-switch>
                </ons-list-item>
            {% endfor %}
            <!-- hack_to_get_raw_data -->
        </twig:block>
    </twig:dexie>

{#        <twig:block name="twig_template" id="xx">#}
{#            {{ rows|json_encode }}#}
{#            <!-- xx -->#}
{#        </twig:block>#}
{#    </twig:dexie>#}
{% endblock %}
