{% set pageController = 'render' %}
{% extends 'onsPage.html.twig' %}

{% block pageId 'detail' %}

{% block body %}
        <twig:DetailRender
                :caller="_self"
                id="detail">
            <twig:block name="content">
                content block
                <b>{{ name }}</b>
                <img src="/img/{{ id }}.png"/>
            </twig:block>
            <twig:block name="title">
                Title block!  {{ name }}
            </twig:block>
        </twig:DetailRender>

    <template id="twigTemplate" {{ stimulus_target('app', 'twigTemplate') }}>
        {% verbatim %}
<h1>Pokemon ID: {{ id }}</h1>
<img src="/img/{{ id }}.png" />
        <b>{{ name }}</b>
More at <a href="{{ url }}" target="_blank">{{ url }}</a>
{{ owned ? "OWNED!" }}
        {% endverbatim %}
    </template>

    <p id="detailPage" {{ stimulus_target('app', 'detail') }}>
        render the twigjs template?
    </p>
{% endblock %}
