{% extends 'onsPage.html.twig' %}
{% set onsMeta = ons_metadata(_self, type) %}

{% block title 'Slideshow' %}
{#{% block toolbar %}#}
{#    {{ parent() }}#}
{#    <div class="center">Gallery</div>#}
{#{% endblock %}#}
{% block body %}


    <div {{ stimulus_controller('gallery', {activeIndex: 2},
        controllerOutlets = { 'app': '.app' }) }}
    >
    <twig:dexie
            refreshEvent="gallery.prechange"
            store="savedTable"
            :caller="_self"
            :filter="{}"
    >
        <!-- this is the twig template.  It will be rendered here and replace this block -->
        <twig:block name="twig_template">
            <ons-carousel id="carousel" {{ stimulus_target('gallery', 'carousel') }} fullscreen swipeable auto-scroll auto-scroll-ratio="0.1">
                {% for row in rows %}
                    {# we could also pass the id and then look it up again, but not necessary. Or pass the whole object #}
                    <ons-carousel-item data-title="{{ row.name  }}">
                        <ons-card>
                            <h2>{{ row.name }}</h2>
                            <img class="gallery-image" src="{{ row.details.sprites.front_default }}" alt=""/>
                            {{ row.owned ? 'OWNED' }}
                            {# since this is javascript, we can't simply do an include, but maybe we can re-use a template #}
                            {% set detail = row.details %}
                            Height: {{ detail.height }}, Weight: {{ detail.weight }}
                            <h3>Abilities</h3>
                            <ol>
                                {% for ability in detail.abilities %}
                                    <li>{{ ability.ability.name }}
                                        {{ ability.is_hidden ? 'hidden' }}
                                        slot: {{ ability.slot }}
                                    </li>
                                {% endfor %}

                            </ol>
                        </ons-card>
                    </ons-carousel-item>
                {% endfor %}
            </ons-carousel>

        </twig:block>
    </twig:dexie>

    </div>


{% endblock %}
