{% extends 'onsPage.html.twig' %}

{% block tabId 'gallery' %}
{#{% block toolbar %}#}
{#    {{ parent() }}#}
{#    <div class="center">Gallery</div>#}
{#{% endblock %}#}
{% block body %}

    <div {{ stimulus_controller('gallery', {activeIndex: 2},
        controllerOutlets = { 'app': '.app' }) }}
    >
    <twig:dexie
            refreshEvent="gallery.prechange"
            store="savedTable"
            :caller="_self"
            :filter="{}"
    >
        <!-- this is the twig template.  It will be rendered here and replace this block -->
        <twig:block name="twig_template">
            <ons-carousel id="carousel" {{ stimulus_target('gallery', 'carousel') }} fullscreen swipeable auto-scroll auto-scroll-ratio="0.1">
                {% for row in rows %}
                    {# we could also pass the id and then look it up again, but not necessary. Or pass the whole object #}
                    <ons-carousel-item data-title="{{ row.name  }}">
                        <ons-card>
                            <h2>{{ row.name }}</h2>
                            {{ row.details|json_encode }}
                            <img class="gallery-image" src="img/{{ row.id }}.png"/>
                            {{ row.owned ? 'OWNED' }}

                            <p>
                                We could fetch more data (cached!) at
                                <a href="{{ row.url }}" target="_blank">
                                    {{ row.url }}
                                </a>
                            </p>
                        </ons-card>
                    </ons-carousel-item>
                {% endfor %}
            </ons-carousel>

        </twig:block>
    </twig:dexie>

    </div>


{% endblock %}
