{% extends 'onsPage.html.twig' %}
{% block pageId 'home' %}
{% block toolbar '' %} {# otherwise, a blank space at the top... #}
{#{% block toolbar %}#}
{#    {{ parent() }}#}
{#    <div class="center">home?</div>#}
{#{% endblock %}#}

{% block body %}
    <ons-toolbar id="home-toolbar">
        <div {{ stimulus_target('app','title') }} class="center">Pokémon app.title in {{ _self }}</div>

        <div class="left">
            <ons-toolbar-button {{ stimulus_action('app','openMenu', 'click') }}>
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    Where is this content??

    <ons-tabbar id="tabbar" {{ stimulus_target('app','tabbar') }}>
        {# render this from a menu event or include it #}
        {{ include('app/_tabs.html.twig') }}
    </ons-tabbar>



    </ons-page>

{% endblock %}
