{#{% extends 'desktop_base.html.twig' %}#}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title %}Offline???{% endblock %}

{% block page_content %}
    <h3>Pokemon Admin</h3>

    <div>
        This site provides the tools to create a json-ld API interface for use with testing pokemon clients, e.g. OnsenUI and Framework7.
    </div>

    <div>
        <pre>rm -rf var/data.db -f && bin/console d:sch:update --force && bin/console app:load --limit 10</pre>
        <img src="{{ asset('images/PokemonWorkflow.svg') }}" alt="pokemon state machine" />
    </div>

    <div>
        Marking chart, status codes, etc.
    </div>

    <div>
        Link to live pokemon (onsen)
    </div>

    {% for p in pokemon %}
        <h3>{{ p.name }}
            <code>{{ p.id }}</code>
        </h3>
        <p>
            {% for idx, a in p.details.abilities|default([]) %}
                {% set ability = a.ability %}
                <li>
                    <a href="{{ ability.url }}" target="_blank">
                        {{ ability.name }}
                    </a>
{#                    {{ ability|json_encode }}#}
                </li>
            {% endfor %}
        </p>

        {% set detail = p.details %}
        {% if detail %}
        <img class="detail-image" src="{{ detail.sprites.front_default }}"/>
        <img class="detail-image" src="{{ detail.sprites.back_default }}"/>
        {% endif %}

    {% endfor %}
    with menu?
    {{ _self }} Published
    <time {{ stimulus_controller('timeago', {datetime: 'now'|date('c')}) }}>
        {{ 'now'|date('c') }}
    </time>
    {{ 'now'|date('c') }}
{% endblock %}
