{% block pageCongroller 'pokemon' %}
{% extends 'onsPage.html.twig' %}
{% block pageId 'pokemon' %}
{% block toolbar %}
    {{ parent() }}
    <div class="center">home?</div>
{% endblock %}

{% block body %}
    <h3>Pokemon-list</h3>

    {% set stimulusSettings = stimulus_action(_app_sc, 'test', 'click', {id: 7}).toArray %}

    stimulusParams: stimulus_action(_app_sc, 'navigate', 'click').attributes.keys.first
    {% set globals = {
        stimulusAction: stimulusSettings['data-action'],
        stimulusParamsVar: stimulusSettings|keys|last
    } %}
    <twig:dexie
            dbName="pokemon1"
            store="savedTable"
                :globals="globals"
                :filter="{}"
                :caller="_self">

        <twig:block name="twig_template" id="hack_to_get_raw_data">
            there are {{ rows|length }} rows

            {{ globals.stimulusAction }}

            {% for row in rows %}
{#                {{ row|json_encode }}#}
{#                <!--{% set checked = row.owned ? 'checked' : '' %}-->#}

                outside of component
                <a href="#" {{ globals.stimulusParamsVar }}="{{ row.id }}" >XX</a>
                <ons-list-item>
                    {# was this #}
                    <a data-action="{{ globals.stimulusAction }}"
{#                    <a data-action="click->app#test" #}
{#                       data-app-id-param="{{ row.id }}" >#}
{#                    <a data-action="click->survos--mobile-bundle--mobile#test"#}
{#                       data-survos--mobile-bundle--mobile-id-param="{{ row.id }}" >#}
{#                        {{ globals.stimulusParamsVar }}#}
{#                        ={{ row.id }}#}
{#                        <br />#}
                       {{ globals.stimulusParamsVar }}="{{ row.id }}" >
                        {{ row.name }} / {{ row.id }}
{#                        {{ checkedValue }}#}
                    </a>
                    <ons-switch
                            data-controller="ownswitch"
                            class="right"
                                data-ownswitch-owned-value="{{ row.owned }}"
                                data-action="click->app#add"
                                data-app-id-param="{{ row.id }}" >
                    </ons-switch>
                </ons-list-item>
            {% endfor %}
            {# this html tag is used for a regex grab if node->html() doesn't work #}
            <!-- hack_to_get_raw_data -->
        </twig:block>
    </twig:dexie>


{#    <ons-list {{ stimulus_target(_sc, 'list') }}>#}
{#        <ons-list-item>TEST</ons-list-item>#}
{#    </ons-list>#}

    <div {{ stimulus_target('app','spinner') }}
            id="after-list" style="display:none; margin: 20px; text-align: center;">
        <ons-icon icon="fa-spinner" size="26px" spin></ons-icon>
    </div>

{% endblock %}
