{% block pageCongroller 'pokemon' %}
{% extends 'onsPage.html.twig' %}
{% block pageId 'pokemon' %}
{#{% block toolbar %}#}
{#    {{ parent() }}#}
{#    <div class="center">home?</div>#}
{#{% endblock %}#}

{% block body %}
    <h3>Pokemon-list</h3>

    {% set store = 'savedTable' %}
    {% set globals = {store: store} %}

    <twig:dexie
            :store="store"
            :globals="globals"
            :filter="{}"
            :caller="_self">

        <twig:block name="title">
            there are {{ rows|length }} rows
        </twig:block>

        <twig:block name="twig_template" id="hack_to_get_raw_data">
            there are {{ rows|length }} rows
            {% for row in rows %}
                <ons-list-item>
                {% set checked = row.owned ? 'checked' : '' %}
            <a {{ stimulus_action('app','test','click', {
                page: 'detail',
                store:globals.store,
                id:row.id
            }) }}>
{#                    <a#}
{#                    {% for var, val in globals.stimulusSettings %}#}
{#                        {% if val starts with '@' %}#}
{#                            {% set val = row[val|replace({'@':''})] %}#}
{#                        {% endif %}#}
{#                        {{ var }}="{{ val }}"#}
{#                    {% endfor %}#}
{#                    >#}
                    {{ row.name }} {{ row.id }}
                    </a>
                    {% set _sc = 'ownswitch' %}
                    <ons-switch class="right"
                        {{ stimulus_controller(_sc, {owned: row.owned}) }}
                        {{ stimulus_action('app',  'add', 'click', {id: row.id}) }}>
                    </ons-switch>

                </ons-list-item>
            {% endfor %}
             this html tag is used for a regex grab if node->html() doesn't work
            <!-- hack_to_get_raw_data -->
        </twig:block>
    </twig:dexie>


    {#    <ons-list {{ stimulus_target(_sc, 'list') }}> #}
    {#        <ons-list-item>TEST</ons-list-item> #}
    {#    </ons-list> #}

    <div {{ stimulus_target('app','spinner') }}
            id="after-list" style="display:none; margin: 20px; text-align: center;">
        <ons-icon icon="fa-spinner" size="26px" spin></ons-icon>
    </div>

{% endblock %}
