{% set _sc = 'pokemon' %}
<ons-page id="pokemon" {{ stimulus_controller(_sc, {max: 3}) }}>

    {% set payload = {name: 'Tac', zip: 22740} %}
    <twig:DetailRender
            :caller="_self"
            :payload="payload" id="detail">
            payload?
        <twig:block name="template">
            <b>{{ name }}</b>
            <br />ZIP: {{ zip }}
        </twig:block>
    </twig:DetailRender>
    <span {{ stimulus_target('app', 'message') }}>

    </span>

    <h3>Pokemon-list</h3>
    <ons-list {{ stimulus_target(_sc, 'list') }}>
        <ons-list-item>TEST</ons-list-item>
    </ons-list>

    <div id="after-list" style="margin: 20px; text-align: center;">
        <ons-icon icon="fa-spinner" size="26px" spin></ons-icon>
    </div>

</ons-page>
