{% extends 'onsPage.html.twig' %}

{% block pageId 'saved' %}
{#{% block toolbar  %}#}
{#    {{ parent() }}#}
{#    <div class="center">{{ 'my-collection'|trans }}</div>#}
{#{% endblock %}#}

{% block body %}
    <div>

        Random: {{ random(9999) }}

        {{ 'now'|date }}
        Random (from twig): {{ random(9999) }}

        {% set filter = {owned: true} %}
            <twig:dexie
                    refreshEvent="saved.prechange"
                    store="savedTable"
                    :filter="filter"
                    :caller="_self"
            >
                <!-- this is the twig template.  It will be rendered here and replace this block -->
                <twig:block name="twig_template">
                    <div id="grid">
                    {% for row in rows %}
                        <div>
                            {#  maybe a gallery controller click handler?  That then calls app_controller to open gallery at the right index? #}
{#                            .bringPageTop('gallery.html', { data: { pokenumber, savedPokemon } });#}

                            <img src="/img/{{ row.id }}.png" title="/image/{{ row.id }}.png"/>
{#                            <b>{{ row.name }}</b>#}
{#                            More at <a href="{{ row.url }}" target="_blank">{{ row.url }}</a>#}
{#                            {{ row.owned ? "OWNED!" }}#}
                        </div>
                    {% endfor %}
                    </div>

                </twig:block>
            </twig:dexie>


    </div>
{% endblock body %}
