{% extends 'onsPage.html.twig' %}
{% set onsMeta = ons_metadata(_self, type) %}

{% block title 'My Collection' %}
{% block page_icon 'fa-upload' %}

{# this is NOT a page!  Giving it a pageId will add the back button #}
{#{% block pageId 'saved' %}#}
{#{% block toolbar  %}#}
{#    {{ parent() }}#}
{#    <div class="center">{{ 'my-collection'|trans }}</div>#}
{#{% endblock %}#}

{% block body %}
    @todo: click here to get to a page, which should navigate back

    {% set store = 'savedTable' %}
    {% set globals = {store: store} %}

    <div>
        {% set filter = {owned: true} %}
            <twig:dexie
                    refreshEvent="saved.prechange"
                    store="savedTable"
                    :filter="filter"
                    :caller="_self"
            >
                <!-- this is the twig template.  It will be rendered here and replace this block -->
                <twig:block name="twig_template">
                    <div id="grid">
                    {% for row in rows %}
                        <div>
                            {% set detail = row.details %}
                            <a {{ stimulus_action('app','test','click', {
                                page: 'detail',
                                store:globals.store,
                                id:row.id
                            }) }}>
{#                                Click??#}
                            </a>

                                <img class="pokemon_thumbnail" src="{{ detail.sprites.front_default }}" alt=""/>

                            {#  maybe a gallery controller click handler?  That then calls app_controller to open gallery at the right index? #}
{#                            .bringPageTop('gallery.html', { data: { pokenumber, savedPokemon } });#}

{#                            <img src="/img/{{ row.id }}.png" title="/image/{{ row.id }}.png"/>#}
{#                            <b>{{ row.name }}</b>#}
{#                            More at <a href="{{ row.url }}" target="_blank">{{ row.url }}</a>#}
{#                            {{ row.owned ? "OWNED!" }}#}
                        </div>
                    {% endfor %}
                    </div>

                </twig:block>
            </twig:dexie>


    </div>
{% endblock body %}
