{% extends 'onsPage.html.twig' %}

{% block pageId 'saved' %}
{% block toolbar %}
{#    {{ parent() }}#}
{#    <div class="center">{{ 'my-collection'|trans }}</div>#}
{% endblock %}

{% block body %}
    <style>
        #grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: 33vw;
        }

        #grid img {
            width: 100%;
            height: 100%;
        }
    </style>
    <div>

        Random: {{ random(9999) }}

        {{ 'now'|date }}
        Random (from twig): {{ random(9999) }}

        {% set filter = [
            {owned: true}
        ] %}
            <twig:dexie
                    store="savedTable"
                    :filter="filter"
                    :caller="_self"
            >
                <!-- this is the twig template.  It will be rendered here and replace this block -->
                <twig:block name="twig_template">
                    <div id="grid">
                    {% for row in rows %}
                        <div>
                            <img src="/img/{{ row.id }}.png" />
{#                            <b>{{ row.name }}</b>#}
{#                            More at <a href="{{ row.url }}" target="_blank">{{ row.url }}</a>#}
{#                            {{ row.owned ? "OWNED!" }}#}
                        </div>
                    {% endfor %}
                    </div>

                </twig:block>
            </twig:dexie>


    </div>
{% endblock body %}
